::selection{
    color: #ffffff;
    background-color: #699635;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    /* font-family: 'Libre Franklin', sans-serif;
    font-family: 'Varta', sans-serif; */
}

main, footer {
    width: 100%;
    max-width: 3000px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header {
    background-color: rgba(252, 252, 252, 0.8);
    backdrop-filter: saturate(180%) blur(10px);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 11;
}

.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.header-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
    height: 78px;
}

.header__logo {
    display: flex;
    text-decoration: none;
    color: #000000;
    transition: .3s;
    align-items: center;
}

.header__logo:hover {
    color: #6C9B55;
}

.logo_img {
    margin-right: 22px;
    width: calc(37px + 7 * ((100vw - 320px) / (1440 - 320)));
    height: calc(38px + 7 * ((100vw - 320px) / (1440 - 320)));
}

.logo_title {
    font-weight: 600;
    font-size: calc(26px + 8 * ((100vw - 320px) / (1440 - 320)));
}

.header-menu {
    display: flex;
    list-style-type: none;
    font-weight: 500;
    font-size: 20px;
}
  
.header-menu > li {
    margin: 0 0 0 40px;
    cursor: pointer;
}
  
.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    align-items: center;
}
  
#menu-toggle {
    display: none;
}
  
.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #000000;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: all .2s ease-out;
    border-radius: 2px;
}
  
.menu-button::before {
    content: '';
    margin-top: -8px;
}
  
.menu-button::after {
    content: '';
    margin-top: 8px;
}
  
#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(45deg);
}
  
#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}
  
#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-45deg);
}

.nav__link {
    color: #000000;
    text-decoration: none;
    text-align: center;

    display: inline-block;
    position: relative;
    transition: .3s;
}

.nav__link:hover::after {
    width: 100%;
}

.nav__link:hover {
    color: #6C9B55;
}

.nav__link::after { 
    display: block;
    content: "";
    background-color: #6C9B55;
    height: 3px;
    width: 0%;
    left: 50%;
    position: absolute;
    transition: width .3s ease-in-out;
    transform: translateX(-50%);
}

.header__contact {
    text-align: center;
    text-decoration: none;
    color: #000000;
    transition: .3s;
}

.header__contact:hover {
    color: #6C9B55;
}

.header__contact_title {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
}
  
@media screen and (max-width: 860px) {
    .header-inner {
        justify-content: space-between;
        margin: 10px 20px;
    }

    .menu-button-container {
        display: flex;
    }

    .header-menu {
        position: absolute;
        top: 100%;
        left: 0;

        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle ~ .header-menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        overflow: hidden;
        transition: all .2s ease-out;
    }

    #menu-toggle:checked ~ .header-menu li {
        height: 45px;
        transition: all .2s ease-out;
    }

    .header-menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        background-color: #699635;
    }

    .header-menu > li:hover {
        color: #ffffff;
        background-color: #74a33e;
    }

    .header-menu > li:not(:last-child) {
        border-bottom: 1px solid #ffffff;
    }

    .nav__link {
        padding: 8px;
        color: #ffffff;
        display: block;
        width: 100%;
    }
    
    .nav__link:hover {
        color: #ffffff;
    }
    
    .nav__link::after { 
        display: none;
    }

    .logo_img {
        margin-right: 8px;
    }
}

@media screen and (max-width: 1024px) {
    .header__contact {
        display: none;
    }
}

/* spec-recipe */

.spec-recipe {
    margin-top: 171px;
    display: flex;
    position: relative;
    z-index: 1;
}

.ellipse1 {
    position:absolute;
    top:56%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index: 2;
    animation: appearance 1.5s ease;
}

@keyframes appearance {
    0% {
        opacity: 0;
        transform: translate(50%, -50%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.ellipse2, .ellipse3, .ellipse4 {
    position:absolute;
    top:56%;
    left:50%;
    transform:translate(-50%, -50%);
}

.ellipse2 {
    width: 628px;
    height: 576px;
    border: 1.6px solid rgba(159, 162, 51, 0.13);
    border-radius: 50%;
    z-index: 0;
}

.ellipse3 {
    width: 836px;
    height: 766px;
    border: 1.6px solid rgba(159, 162, 51, 0.13);
    border-radius: 50%;
    z-index: 0;
}

.ellipse4 {
    width: 978px;
    height: 896px;
    border: 1.6px solid rgba(159, 162, 51, 0.13);
    border-radius: 50%;
    z-index: 0;
}

.spec-recipe_right-element {
    margin: 0 0 0 auto;
    width: 38%;
    height: 712px;
    background: #F3E13B;
    border-radius: 30px 0px 0px 30px;
    z-index: 1;
}

.spec-recipe_right-element__title{
    font-size: 144px;
    font-weight: 700;
    line-height: 176px;
    color: #469344;
    padding: 53px 0;
    text-transform: uppercase;
    opacity: 0.2;
    writing-mode: tb-rl;
 }

.spec-recipe_inner {
    padding-top: 60px;
    padding-left: 69px;
    width: 480px;
}

.spec-recipe__title {
    margin-bottom: 66px;
    font-family: Varta, sans-serif;
    font-weight: 700;
    font-size: 80px;
    text-transform: uppercase;
}

.characteristic {
    width: 350px;
    margin-bottom: 38px;
    display: flex;
}

.characteristic__item {
    border-right: 1px solid #000000;
    padding: 0 20px;
}

.characteristic__item:first-child {
    padding-left: 0;
}

.characteristic__item:last-child {
    border: none;
}

.characteristic__title {
    padding-bottom: 10px;
    font-weight: 300;
    font-size: 23px;
    line-height: 30px;
}

.characteristic__text {
    font-weight: 600;
    font-size: 23px;
    line-height: 30px;
}

.spec-recipe__subtitle {
    margin-bottom: 71px;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
}

.spec-recipe__button {
    display: inline-block;
    color: #fff;
    border-radius: 60px;
    text-decoration: none;
    user-select: none;
    background: #6C9B55;
    padding: .7em 1.5em;
    text-transform: uppercase;
    font-size: 30px;

    transition: all .4s ease;
}

.spec-recipe__button:hover {
    color: #ffffff;
    background: #78b35b;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.spec-recipe__button:active {
    transition: all .1s ease;
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.spec-recipe__button__left {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
}

.spec-recipe__button__right {
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
}

/* about */

.about {
    margin-top: 150px;
    display: flex;
}

.about_img {
    padding-left: 70px;
}

.about_text {
    margin: 50px auto 0 auto;
}

.about_text__title {
    font-family: Varta, sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
    text-transform: uppercase;
    padding-bottom: 51px;
}

.about_text__subtitle {
    width: 518px;
    font-weight: 300;
    font-size: 30px;
    line-height: 37px;
}

.about_text__subtitle:first-child {
    margin-bottom: 40px;
}

/* ration */

.ration_bar {
    width: 90%;
    display: flex;
    margin: 169px 5%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    align-items: center;
    padding: 15px 0;
}

.ration_bar__title {
    padding: 0 78px;
    font-family: Varta, sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 45px;
    text-transform: uppercase;
}

.ration_bar__buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
   
.ration_bar__button_item {
    width: 252px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 8px 0;

    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 30px;

    color: #000000;
    font-weight: 300;
    font-size: 30px;
    line-height: 37px;
    text-decoration: none;
    background-image: url('img/main/arrow-down.png');
    background-repeat: no-repeat;
    background-position: 90% 50%;
}

.ration_bar__button_item:hover {
    background-color: #000000;
    color: #ffffff;
}

.ration_inner {
    display: flex;
    margin: 0 20%;
    max-width: 60%;
    justify-content: space-between;
    text-align: center;
    vertical-align: middle;
}

.ration_inner__item {
    padding-bottom: 10px;
}

.ration_inner__item-text {
    font-family: Kohinoor Bangla, sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 45px;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.ration_inner__item-img {
    width: 95px;
    height: 95px;
}

/* menu */

.menu {
    padding-top: 130px;
}

.menu-container {
    max-width: 1336px;
    margin: 0 auto;
    background-color: #EDEDED;
    border-radius: 65px;
}

.menu-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-label {
	margin: 52px;
	display: block;
	width: 461px;
	height: 531px;
	perspective: 1000px;
	transform-style: preserve-3d;
	cursor: pointer;
}

.flip-card {
	position: relative;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 700ms 200ms ease-out; 
	z-index: 1;
	border-radius: 20px;
}

.flip-card .front,
.flip-card .back {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #ffff;
	backface-visibility: hidden;
	padding: 0 38px;
	border-radius: 20px;
	transform-style: preserve-3d;
}

.flip-card .back {
	transform: rotateY(180deg);
	color: #000;
	background: #699635;
	text-align: center;
}

.card-label:hover .flip-card {
	box-shadow: 0 20px 20px rgba(50, 60, 60, 0.2);
}

.card-input {
	display: none;
}

:checked + .flip-card {
	transform: rotateY(180deg);
}
.card-label:hover :checked + .flip-card {
	transform: rotateY(180deg);
	box-shadow: 0 20px 20px rgba(146, 146, 146, 0.2);
}

.front .card-img {
	text-align: center;
	transform: translate3d(0, 0, 35px) perspective(100px);
}

.front img {
	margin: 32px 0 32px 0;
	border-radius: 30px;
	box-shadow: 0 6px 20px 0 rgb(16 39 112 / 30%);
}

.front h3 {
	height: 60px;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 25px;
	transform: translate3d(0, 0, 35px) perspective(100px);
}

.front-characteristic {
	display: flex;
	transform: translate3d(0, 0, 35px) perspective(100px);
}
  
.front-characteristic__item {
	border-right: 1px solid #000000;
	padding: 0 20px;
}
  
.front-characteristic__item:first-child {
	padding-left: 0;
}
  
.front-characteristic__item:last-child {
	border: none;
}
  
.front-characteristic__item h4 {
	padding-bottom: 10px;
	font-weight: 300;
	font-size: 20px;
	line-height: 24px;
}
  
.front-characteristic__item p {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
}

.back h1 {
	color: #FbFCFA;
	margin: 30px 0 0 0;
	transform: translate3d(0, 0, 35px) perspective(100px);
}

hr {
	width: 180px;
	margin: 15px auto 10px auto;
    color: #fff;
	transform: translate3d(0, 0, 35px) perspective(100px);
}

.back p {
	font-size: 20px;
	color: #fff;
	line-height: 30px;
	margin: 0 auto;
	transform: translate3d(0, 0, 35px) perspective(100px);
}

/* work */

.work {
    margin-top: 200px;
    color: #FFFFFF;
}

.work-container {
    position: relative;
    left: 0;
    top: 0;
    margin: 0 0 0 auto;
    max-width: 1336px;
    
    background: #699635;
    border-radius: 60px 0px 0px 60px;
}

.work_inner {
    display: flex;
}

.work_title {
    width: 100%;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
    font-size: 144px;
    line-height: 175px;
    text-transform: uppercase;
    text-align: center;
    opacity: 0.2;
    
    position: absolute;
    left: 50%;
    top: -6%;
    transform: translate(-50%, 0%);
}

.choose {
    padding-top: 121px;
}

.choose_img {
    padding-left: 30px;
}

.choose_text {
    width: 250px;
    padding-left: 90px;
}

.choose_text__title, .preparing_text__title {
    width: inherit;
    font-family: Varta, sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    text-transform: uppercase;
}

.choose_text__subtitle, .preparing_text__subtitle {
    width: inherit;
    font-weight: 300;
    font-size: 22px;
    line-height: 27px;
}

.preparing {
    padding-top: 148px;
}

.preparing_text {
    width: 330px;
    padding-left: 94px;
}

.preparing_img {
    padding-left: 64px;
}

.delivery {
    padding-top: 55px;
}

.delivery_img {
    padding-left: 34px;
}

.deliver_text {
    width: 288px;
    padding-left: 7px;
    padding-bottom: 40px;
}

/* video */

.video {
    max-width: 90%;
    margin-top: 210px;
    display: flex;
    justify-content: space-between;
}

.video_inner {
    width: 608px;
    margin-left: 71px;
    margin-top: 40px;
}

.video_title {
    font-family: 'Varta', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    text-transform: uppercase;
    padding-bottom: 70px;
}

.video_block {
    cursor: pointer;
}

.video_button {
    color: #fff;
    text-decoration: none; 
    user-select: none;
    background: #D33B23; 
    padding: 9px 100px;
    border-radius: 100px;
    font-size: 30px;
    transition: .3s;
}

.video_button:hover {
    background: #fd4428; 
} 

.video_block__img {
    position: relative;
    left: 0;
    top: 0;
}

.video_block__img img {
    border-radius: 60px;
}

.video_block__button {
    opacity: 0.7;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

/* consultation */

.consultation {
    margin-top: 131px;
    height: 661px;
    background-image: url("img/main/consultation.jpg");
    background-repeat: no-repeat;
}

.consultation-container {
    display: flex;
    position: relative;
    max-width: 1340px;
    height: 661px;
    text-align: end;
}

.consultation_title {
    position: absolute;
    top: -4%;
    left: 10%;
    font-weight: 700;
    font-size: 180px;
    line-height: 219px;

    color: #f4f4f4;
    opacity: 0.4;
    
    text-transform: uppercase;
}

.consultation_inner {
    text-align: start;
    width: 707px;
}

.consultation-search {
    margin-top: 359px;
    margin-left: 50px;
    position: relative;
    width: 707px;
}

.consultation-search-input {
    width: 100%;
    border: 0;

    border-radius: 60px;
    padding: 30px 100px 30px 59px; 
    box-sizing: border-box;
    outline: none;

    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
}

.consultation-search-button {
    display: inline-block;
    position: absolute;
    right: 0; 
    top: 0;
    border: 0;
    background: #699635;
    padding: 30px 80px;
    color: #fff;
    outline: none;
    border-radius: 60px;
    z-index: 2;

    font-weight: 500;
    font-size: 36px;
    line-height: 44px;

    cursor: pointer;

    transition: all .4s ease;
}

.consultation-search-button:hover {
    background-color: #7ab13c;
}

.consultation_inner__text {
    width: 644px;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: rgba(0, 0, 0, 0.5);
    padding-top: 39px;
    padding-left: 89px;
}

.consultation_second-title {
    font-family: 'Varta', sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 108px;
    color: #FFF9F9;
    text-transform: uppercase;

    padding-top: 310px;
    padding-right: 37px;
}

/* footer-head */

.footer {
    margin-top: 200px;
}

.footer-head {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.23);
}

.footer__logo {
    display: flex;
    text-decoration: none;
    color: #000000;
    margin-bottom: 65px;
    transition: .3s;
}

.footer__logo:hover {
    color: #6C9B55;
}

.social {
    display: flex;
}

.social__item:hover .social__icon {
    fill: #000000;
}

.social__item {
    width: 60px;
    height: 60px;
}

.social__icon {
    width: 40px;
    height: 40px;
    margin: 12px;
    fill: #699635;
    background: #ffffff;
    border-radius: 10px;

    transition: .3s;
}

/* footer-inner: sitemap */

.footer-inner {
    display: flex;
    margin-top: 43px;
    justify-content: space-between;
}

.sitemap {
    width: 25%;
    margin-left: 120px;
    display: block;
}

.sitemap_title {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}

.sitemap-list {
    list-style: none;
    
}

.sitemap-list li a {
    display: inline-block;
    color: #000000;
    padding: 10px 0;
    text-decoration: none;

    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    transition: .2s;
}

.sitemap-list li a:hover {
    color: #699635;
}

.sitemap-list_left {
    float:left
}

.sitemap-list_right {
    float: right;
}

/* footer-inner: contact */

.contact {
    margin-right: 300px;
}

.contact_title {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    padding-bottom: 80px;
}

.contact_number {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    text-decoration: none;
    color: #000000;

    transition: .3s;
}

.contact_number:hover {
    color: #699635;
}

.contact_number:hover .contact__icon {
    fill: #699635;
}

.contact__icon {
    width: 50px;
    height: 50px;
    fill: #000000;
    margin-right: 34px;
    transition: .3s;
}

.contact_text {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.work_time {
    display: flex;
}

.work_time__icon {
    width: 50px;
    height: 50px;
    fill: #000000;
    margin-right: 34px;
}

.work_times {
    display: block;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.work_time__day-of-week {
    color: #699635;
}

/* footer-copyright */

.footer-copyright {
    margin: 200px 0 86px 118px;
    display: flex;
    align-items: center;
}

.line {
    display: flex;
    width: 180px;
    height: 12px;
    background-color: #FFCE31;
    border-radius: 60px;
    border: 0;
    margin: 0;
}

.footer-copyright_text {
    padding-left: 32px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.5);
}



/* media */

@media screen and (max-width: 1700px) {
    .footer-inner {
        justify-content: flex-start;
    }
    .contact {
        margin: 0 300px 0 auto;
    }
}

@media screen and (max-width: 1400px) {
    .circles {
        display: none;
    }
}











